@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="text-center">
        <h2>Hola @Html.ViewContext.HttpContext.User.Identity.Name</h2>
        <h5>¿Qué desea hacer hoy?</h5>
    </div>
    <div class="row justify-content-around mt-4">
        <div class=" d-flex align-items-center border p-3 mb-2">
            <a href="#" class="d-flex flex-column ">
                <img src="~/Imagenes/estudiante.svg" alt="icono" class="img-btn">
                <span>Registrar alumno</span>
            </a>
        </div>
        <div class=" d-flex align-items-center border p-3 mb-2">
            <a href="#" class="d-flex flex-column ">
                <img src="~/Imagenes/profesor.svg" alt="icono" class="img-btn">
                <span>Registrar docente</span>
            </a>
        </div>
        <div class=" d-flex align-items-center border p-3 mb-2">
            <a href="#" class="d-flex flex-column ">
                <img src="~/Imagenes/horario.svg" alt="icono" class="img-btn">
                <span>Horario</span>
            </a>
        </div>



    </div>


</div>