<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Proyecto Progra 5</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #ffdf00;">
        <a class="navbar-brand" href="~/Home/Index">Control escolar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/Home/Index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/About">Acerca de</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/Horario/Index">Horario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Institucion/Index">Institución</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/TipoIdentificacion/Index">Tipo de identificación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Rol/Index">Rol</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Grado/Index">Grado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Materia/Index">Materia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/MateriaGrado/Index">Materia Grado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/TipoOperacion/Index">Tipo de Operación</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()


    </div>

    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
      @RenderSection("scripts", required: false)

</body>
</html>
